.summarize_button{
    background-color: transparent;
    border: 1px solid teal;
    font-size: 16px;
    border-radius: 3px;
    color: teal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.summarize_button:hover{
    color: white;
    cursor: pointer;
    background-color: teal;
    font-size: 20px;
}

#summarize_container{
    position: fixed;
    z-index: 9999999;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    background-color: teal;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y:auto;
}

.alert-close {
    background: rgba(255,255,255,0.1);
	border-radius: 50%;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),inset 0 -1px 2px rgba(255,255,255,0.25);
	color: #FFFFFF;
	cursor: pointer;
    font-size: 18px;
    text-align: center;
    height: 22px;
    width: 22px;
	line-height: 24px;
	right: 11px;
    top: 9px;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}